streamlit~=1.46.1
pandas~=2.3.0
geopandas~=1.1.0
requests~=2.32.3
shapely~=2.1.1
huggingface-hub~=0.32.5
huggingface_hub[hf_xet]
openpyxl~=3.1.5
pydeck~=0.9.1
folium~=0.19.7
streamlit_folium~=0.25.0
streamlit-folium